.homepage {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.react-lock-screen__ui {
  width: 50vw;
  height: 50vw;
  position: fixed;
  text-align: center;
  padding: 16px;
  top: calc(50% - 50vw/ 2);
  left: calc(50% - 50vw / 2);
}