.homepage {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.react-lock-screen__ui {
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  padding: 16px;
  top: calc(50% - 100vh/ 2);
  left: calc(50% - 100vw / 2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}

.lock {
  filter: blur(100px);
  height: 100vh;
  overflow: hidden;
}