.homepage {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.react-lock-screen__ui {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.lock {
  filter: blur(100px);
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 24pt !important;
}

h2 {
  font-size: 12pt !important;
}